### 데이터프래임 연산 -1
- 일대일 대응으로 인덱스가 동일한 원소들끼리 연산 수행
- DataFrame과 숫자데이터 연산 수행

In [1]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np      #빈칸 의미 표현 위해

In [7]:
# [2] 데이터 준비
data={'A':[98,78,100,52],
    'B': [90,70,20,60]}

In [8]:
# [3] DataFrame 형태로 저장
df1= pd.DataFrame(data)
df1

     A   B
0   98  90
1   78  70
2  100  20
3   52  60

In [9]:
# [4] 연산 수행
df1*3

     A    B
0  294  270
1  234  210
2  300   60
3  156  180

In [12]:
#비교 연산
df1<=20

       A      B
0  False  False
1  False  False
2  False   True
3  False  False