### [DataFrame의 인덱스 다루기-4]
- 인덱스 정렬하기 
- 메서드: sort.index() (기본=오름차순)

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [3]:
# [2] 데이터 준비
data={'A': [98,82,93,74,]}
# [3] DataFrame 형태로 저장
dataDF=pd.DataFrame(data, index=[9,12,1,3])
dataDF

     A
9   98
12  82
1   93
3   74

In [4]:
# [4] 행인덱스 정렬
# -기본: 오름차순 정렬 즉, 작은 인덱스 ->큰 인덱스
dataDF.sort_index()

     A
1   93
3   74
9   98
12  82

In [5]:
# -내림차순 정렬 즉, 큰 인덱스 ->작은 인덱스
dataDF.sort_index(ascending=False)

     A
12  82
9   98
3   74
1   93

In [10]:
# [5] 행 인덱스 변경 후 정렬
# 현재 [12,9,3,1 ]-> ['A', 'b', 'C', 'd']
dataDF.index=['A', 'b', 'C', 'd']

In [12]:
nums= ['A', 'b', 'c', 'd']
sorted(nums, key=lambda x:x.lower())

['A', 'b', 'c', 'd']

In [13]:
# 정렬
dataDF.sort_index(key=lambda x:x.str.lower())  #소문자로 반환후 정렬
                                    #빼낸 원소가 문자열(Series)이기 때문에 str.lower

    A
A  98
b  82
C  93
d  74