### [DataFrame의 인덱스 다루기 -1 ]
- 인덱스 종류: 행,열 인덱스
- 특정 열을 행 인덱스 설정하는 방법
- 메서드: df.set_index(열 인덱스, inplace=False)

In [26]:
# [1] 모듈 로딩
import pandas as pd

In [27]:
# [2] 데이터 준비
jumsu={'name': ['마징가', '태권V','원더우먼'],
       'kor': [98, 90, 80],
       'eng': [90,70,88],
       'math': [80, 70, 87]}

In [31]:
#[3] DataFrame 형태로 저장
jumsu_DF= pd.DataFrame(jumsu)
jumsu_DF                                #->행인덱스=0,1,2

   name  kor  eng  math
0   마징가   98   90    80
1   태권V   90   70    70
2  원더우먼   80   88    87

In [33]:
# [4] name 컬럼을 행 인덱스로 설정
DF2= jumsu_DF.set_index('name') #변경후 저장
# DF2= pd.DataFrame(DF2)
print(DF2, type(DF2))

      kor  eng  math
name
마징가    98   90    80
태권V    90   70    70
원더우먼   80   88    87 <class 'pandas.core.frame.DataFrame'>

In [ ]:
# DF2 행/열 인덱스 확인
print(DF2.index, DF2.columns, sep= '\n')

In [ ]:
# [5] 데이터 추출
# - 마징가 성적 추출-> 행 추출(loc, iloc)
DF2.loc['마징가'], DF2.iloc[0]

In [ ]:
# [5] 데이터 추출
# - 마징가, 원더우먼 성적 추출-> 행 추출(loc, iloc)
DF2.loc['마징가'], DF2.iloc[0]

In [29]:
## [6] 영어 점수 컬럼을 행 인덱스 설정
DF3= jumsu_DF.set_index('eng')
print(DF3, type(DF3))

     name  kor  math
eng
90    마징가   98    80
70    태권V   90    70
88   원더우먼   80    87 <class 'pandas.core.frame.DataFrame'>

In [36]:
## [6] 이름이랑 영어 컬럼을 행 인덱스로 설정   ->리스트로 묶어서 넣기
DF4= jumsu_DF.set_index(['eng', 'name'])  #multi index
DF4, DF4.index

(          kor  math
 eng name
 90  마징가    98    80
 70  태권V    90    70
 88  원더우먼   80    87,
 MultiIndex([(90,  '마징가'),
             (70,  '태권V'),
             (88, '원더우먼')],
            names=['eng', 'name']))

In [39]:
# 멀티인덱스에서 행 추출
DF4.loc[(90, '마징가')]        #둘다 맞아야 추출 가능!

kor     98
math    80
Name: (90, 마징가), dtype: int64