### [Series & DataFrame 연산]

In [18]:
# [1] 모듈 로딩
import pandas as pd

In [19]:
#데이터 준비
file_name= 'data1.csv'

In [20]:
csvDf=pd.read_csv(file_name, header=None)

In [21]:
csvDf

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [22]:
# [4] 연산 실습
#0번 칼럼과 2번 컬럼을 덧셈 연산 수행
csvDf[0]+ csvDf[2]

0     40
1    160
2    110
3    180
4     10
dtype: int64

In [23]:
# 0번 컬럼~ 2번 컬럼까지 덧셈
result= csvDf[0]+ csvDf[1]+ csvDf[2]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [24]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDf['total']= result
csvDf

    0   1   2  total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [26]:
# 행 5추가 -> 각 컬럼의 값을 모두 더한 값
result2= csvDf.loc[0]+csvDf.loc[1]+csvDf.loc[2]+csvDf.loc[3]+csvDf.loc[4]
csvDf.loc[5]=result2
csvDf

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [30]:
# [5] 연산수행 메서드 sum(), max(), min()
sr0=csvDf[0]
print(sr0)
print('합계', sr0.sum(), sep='\n')
print('최댓값', sr0.max(), sep='\n')
print('최소값', sr0.min(), sep='\n')

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64
합계
522
최댓값
261
최소값
5

In [31]:
# DataFrame으로 연산수행
csvDf

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [35]:
print('합계', csvDf.sum(), sep='\n')   #->컬럼별 행의 연산 도출 
print('최댓값', csvDf.max(), sep='\n')
print('최소값', csvDf.min(), sep='\n')
# axis 기본=0(index, 즉 행)-> 각 칼럼의 1번행 합, 2번행 합.... 도출

합계
0         522
1         500
2         478
total    1500
dtype: int64
최댓값
0        261
1        250
2        239
total    750
dtype: int64
최소값
0         5
1         5
2         5
total    15
dtype: int64

In [34]:
print('합계', csvDf.sum(axis=1), sep='\n')   #->행별 컬럼의 연산 도출
print('최댓값', csvDf.max(axis=1), sep='\n')
print('최소값', csvDf.min(axis=1), sep='\n')
# axis=1(column,즉 열) ->각 열의 1번행의 합, 2번행의 합......

합계
0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64
최댓값
0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64
최소값
0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

#### 연산과 데이터 추출 
- 연산 결과와 데이터 추출 함께 진행

In [40]:
# 합계가 100이상인 데이터만 추출
bool_index=csvDf.total >100    #->boolean index -> 인덱스로 특정 데이터 추출 사용 가능
csvDf[bool_index]   #->True인 값만 뽑음

# bool 결과값을 DataFrame index에 넣음 ->True인 데이터만 추출

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().