### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [2]:
#[1] 모듈로딩
import pandas as pd
import df_util as util

In [3]:
# [2] 데이터 준비
file1='test_data.csv'
file2='test_data2.csv'

In [4]:
# [3] 데이터 변환
df1= pd.read_csv(file1)
df2= pd.read_csv(file2)

In [5]:
# [4] 데이터 확인 ->기본정보

util.checkDataFrame(df1,'df1')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
인덱스: RangeIndex(start=0, stop=10, step=1)
컬럼: Index(['index', 'col1', 'col2', 'col3'], dtype='object')

In [6]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫번째 컬럼을 행 인덱스로 설정 ==>set_index([컬럼1, 컬럼2, ...])
df11= df1.set_index(['index'])
df11.index.name=None
df11.index
# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [7]:
# [5-2] df의 1,2번째 컬럼을 행 인덱스로 설정
df12= df1.set_index(['index','col1'])
df12.index.name=None
df12.index

# ('A',8)행 데이터 추출
df12.loc[('A', 8)]

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_11548\2453971104.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [8]:
#A, C 행 추출              -->여러 행인 경우 리스트로 묶어서 넣기
df11.loc[['A', 'C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [9]:
#('A', 8), ('A', 1)                ->멀티인덱스도 형식은 동일
df12.loc[[('A', 8), ('A', 1)]]

            col2  col3
index col1
A     8        6     5
      1        8     7

In [18]:
#멀티인덱스의 속성들 확인

midx= df12.index

print(f'nlevels: {midx.nlevels}')
print(f'levels: {midx.levels}')
print(f'names: {midx.names}')

midx.names=[None, None]
print(f'names: {midx.names}')

# midx.names[0]= 'A'안됨
midx.set_names('a', level=0)

nlevels: 2
levels: [['A', 'B', 'C', 'D'], [1, 2, 3, 4, 5, 8, 9]]
names: [None, None]
names: [None, None]

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3),
            ('D', 9)],
           names=['a', None])

In [11]:
# 멀티인덱스에서 level0이 동일한 행 추출
# -'A'
df12.loc['A']

   col2  col3
8     6     5
1     8     7
3     1     4

In [12]:
# 멀티인덱스에서 level1이 동일한 행 추출
# 8
# df12.loc[8]   ---> ERROR!
df12.xs(8, level=1)             #->인덱스명+레벨 입력

   col2  col3
A     6     5
C     4     3
C     2     0
C     8     6

In [13]:
# 멀티인덱스에서 행 추가
# 인덱스 행 추가 ->변수명.loc[행인덱스]=값
# Warning->  #같은 인덱스에 여러 데이터가 있어서 그걸 반복문으로 읽어야 되서 그럼
df12
df12.loc[('D', 9), :]= [9,9]
df12

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_11548\683806062.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D', 9), :]= [9,9]
C:\Users\KDP-25\AppData\Local\Temp\ipykernel_11548\683806062.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D', 9), :]= [9,9]

     col2  col3
A 8   6.0   5.0
C 8   4.0   3.0
  8   2.0   0.0
A 1   8.0   7.0
B 2   0.0   7.0
  4   2.0   4.0
C 8   8.0   6.0
  5   5.0   6.0
B 3   3.0   6.0
A 3   1.0   4.0
D 9   9.0   9.0

In [14]:
# df12.loc[('D', 9), :]= pd.Series({'col2':10, 'col3':10}, index= ['D',10])
# 딕셔너리 --> 키:값 형태라서 index=하면 값이 사라짐 ->시리즈로 저장 후 index=부여
# 리스트는 바로 index값 부여해도 됨

In [15]:
sr1= pd.Series({'col2':10, 'col3':10})
sr1.index=['D',10]
sr1.T

D     10
10    10
dtype: int64

In [20]:
df12.loc[('f', 101), :]= [sr1]   # 여러개 넣을때 시리즈는 iterable하지 않으니 리스트에 넣어서 입력
df12                            #행인덱스가 같아서 데이터 값이 리스트안에 리스트로 데이터가 담아져 있는 형태
                                #===>('c',8): [[4,3], [3,0], [8,6]]

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_11548\1859273716.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('f', 100), :]= sr1    #똑같은

ValueError: Must have equal len keys and value when setting with an iterable

In [21]:
df12

       col2  col3
A 8     6.0   5.0
C 8     4.0   3.0
  8     2.0   0.0
A 1     8.0   7.0
B 2     0.0   7.0
  4     2.0   4.0
C 8     8.0   6.0
  5     5.0   6.0
B 3     3.0   6.0
A 3     1.0   4.0
D 9     9.0   9.0
f 100  10.0  10.0