### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [16]:
#[1] 모듈로딩
import pandas as pd
import df_util as util

In [17]:
# [2] 데이터 준비

file1='test_data3.csv'

In [18]:
# [3] 데이터 변환
df1= pd.read_csv(file1)

In [19]:
# [4] 데이터 추출
# [4-1] 대구관련 데이터만 추출
idx= df1['col1']=='대구'
df1[idx]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [22]:
# [4-2] index와 col1컬럼을 행 인덱스로 설정
df2= df1.set_index(['index', 'col1'])

In [14]:
df1.index, df1.values

(RangeIndex(start=0, stop=5, step=1),
 array([[2020, '서울', 10, 20],
        [2020, '대구', 11, 22],
        [2021, '서울', 10, 20],
        [2021, '대구', 11, 22],
        [2021, '대구', 12, 23]], dtype=object))

In [ ]:
#2020년도 대구 데이터 추출
df2.loc[(2020,'대구')]

In [ ]:
df2.loc[(2021, '대구')]

In [ ]:
df2.loc[(2021, '대구')]=(3,3)

In [24]:
#행 추가
# df2.loc[(2022, '부산')]=0   #[행,열]-->'부산'을 컬럼명으로 인식함


df2.loc[(2022, '부산'), :]=0

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_6244\854974549.py:5: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '부산'), :]=0

In [27]:
df2.loc[(2022, '마산'), :]=[3,4]

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_6244\1324571934.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '마산'), :]=[3,4]

In [28]:
df2.loc[(2022,'울산'), :]= pd.Series({'col2':8, 'col3':8})

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_6244\680792052.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'), :]= pd.Series({'col2':8, 'col3':8})
C:\Users\KDP-25\AppData\Local\Temp\ipykernel_6244\680792052.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'), :]= pd.Series({'col2':8, 'col3':8})

ValueError: Must have equal len keys and value when setting with an iterable

In [30]:
df2.loc[(2022,'울산'), :]= [pd.Series({'col2':8, 'col3':8})]
df2

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_6244\126314233.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'), :]= [pd.Series({'col2':8, 'col3':8})]

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  20.0
      대구    11.0  22.0
      대구    12.0  23.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     8.0   8.0