#### [데이터 표준화]
- 수집된 데이터를 동일한 형태로 맞추어 주는 것
- 단위변환, 자료형 변환

In [70]:
import pandas as pd
file_name= 'auto_mpg.csv'
mpgDF= pd.read_csv(file_name)

In [71]:
# [4] 데이터 확인
# - 기본 정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [72]:
#- 컬럼과 실제 데이터 타입 확인
print(mpgDF.head(), mpgDF.tail(), sep='\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin         car name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [73]:
#컬럼별 데이터 분포 확인
mpgDF.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [74]:
# [5] 데이터 전처리
# [5-1] 결측치 체크
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [75]:
# [5-2] 중복 데이터
mpgDF.duplicated().sum()
mpgDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [76]:
# [5-3] 단위 변환 표준화
# mpg를 kpL로 변환 후 컬럼 추가
# 1mile= 1.609344km
# 1 gallon= 3.785412L
# 1m/g= 0.425144km/L
mpgDF['kpl']=mpgDF.mpg * 0.425144
mpgDF.kpl

0       7.652592
1       6.377160
2       7.652592
3       6.802304
4       7.227448
         ...
393    11.478888
394    18.706336
395    13.604608
396    11.904032
397    13.179464
Name: kpl, Length: 398, dtype: float64

In [77]:
# [5-4] 자료형 변환 표준화
# - horsepower object ==>int
# mpgDF['horsepower'].astype('int64')  -->?값 때문에 안됨
mpgDF['horsepower'].value_counts()['?'] #value.counts->Series 이므로 인덱싱 가능

6

In [78]:
filter= mpgDF['horsepower']=='?'
change= mpgDF[filter].index

In [79]:
# 데이터를 변경해주는 메서드 ->replace()
import numpy as np
mpgDF['horsepower'].replace('?',np.nan, inplace=True)

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_9404\2936357327.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mpgDF['horsepower'].replace('?',np.nan, inplace=True)

In [80]:
filter= mpgDF['horsepower']=='?'
change= mpgDF[filter].index

In [81]:
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [82]:
mpgDF2= mpgDF.dropna().copy()
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.7+ KB

In [83]:
mpgDF2['horsepower']=mpgDF2['horsepower'].astype('int64')
#A value is trying to be set on a copy of a slice from a DataFrame.
# Try using .loc[row_indexer,col_indexer] = value instead
# ---> mpg를 mpg2가 아닌 mpg.copy()를 사용하는게 좋다고 하는 것

In [84]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.7+ KB

In [85]:
# origin(1,2,3) ->나라인데 결측치 평균으로 대체?
# cylinder..
# 정성 데이터이기 때문에 범주형 데이터(category)로 바꿔야 함

In [86]:
# [5-5] 컬럼별 데이터의 특성 확인 후 자료형 변환 표준화
# -cylinders =>데이터 분류/그룹 가능 ==>범주형
# -origin =>데이터 분류/그룹 가능 ==>범주형
mpgDF2['cylinders']= mpgDF['cylinders'].astype('category')
mpgDF2['origin']= mpgDF['origin'].astype('category')
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 28.7+ KB

In [87]:
# [5-5] 컬럼별 데이터의 특성 확인 후 자료형 변환 표준화
# horsepower => 저/일반/고 출력으로 변환 -->cut() 메서드
# 범위---> A < ~ <=B 형식으로 나눔
hp= pd.cut(mpgDF2['horsepower'], bins=3,
        labels=['저출력', '일반출력', '고출력'])

In [88]:
mpgDF2['horsepower'].min(), mpgDF2['horsepower'].max()

(46, 230)

In [89]:
mpgDF2['horsepower_range']=hp

In [90]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
dtypes: category(3), float64(4), int64(3), object(1)
memory usage: 29.2+ KB

### [문자열 데이터를 분리 시켜주는 기능 ->컬럼 분리]
    * 조건-> 데이터가str이어야 함
    * 형식 ->.str.split()

In [91]:
namesSR= mpgDF2['car name'].str.split() #str.upper() 등도 사용 거눙
namesSR.head(3)              #str.upper().str.split() 도 가능

0    [chevrolet, chevelle, malibu]
1            [buick, skylark, 320]
2            [plymouth, satellite]
Name: car name, dtype: object

In [92]:
# 나누어진 문자열을 하나씩 컬럼으로 분리
mpgDF2['car name'].str.split(expand=True)

             0          1       2     3     4     5
0    chevrolet   chevelle  malibu  None  None  None
1        buick    skylark     320  None  None  None
2     plymouth  satellite    None  None  None  None
3          amc      rebel     sst  None  None  None
4         ford     torino    None  None  None  None
..         ...        ...     ...   ...   ...   ...
393       ford    mustang      gl  None  None  None
394         vw     pickup    None  None  None  None
395      dodge    rampage    None  None  None  None
396       ford     ranger    None  None  None  None
397      chevy       s-10    None  None  None  None

[392 rows x 6 columns]

In [93]:
# 나누어진 문자열을 하나씩 컬럼으로 분리
namesDF= mpgDF2['car name'].str.split(expand=True,n=2)
namesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 12.2+ KB

- [데이터 프래임 연결하기]
    *함수: pandas.concat(df1,df2,....)

In [94]:
DF3= pd.concat([mpgDF2, namesDF], axis=1)
DF3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(4), int64(3), object(4)
memory usage: 38.4+ KB

In [98]:
#행 방향 연결 시 인덱스 다시 정리 필요->ignore_index
DF4= pd.concat([mpgDF2, namesDF], axis=0, ignore_index=True)# 인덱스 다시 정렬
DF4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    float64
 4   weight            392 non-null    float64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    float64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpl               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(7), object(4)
memory usage: 70.3+ KB

In [100]:
DF4.tail(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl,horsepower_range,0,1,2
782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford,ranger,None
783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevy,s-10,None