### [데이터 필터링 - Bollean Indexing]
- Series/DataFrame에서 원하는 조건의 데이터만 추출하기 위한 것
- True와 False로 구성된 데이터 -->인덱스로 활용

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
data={'name': ['마징가', '베트맨', '홍길동'],
      'age': [25,31,19],
      'gender': ['남', '남', '여']}

In [4]:
# [3] DataFrame으로 변환
dataDF= pd.DataFrame(data)
dataDF

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [7]:
# [4] 데이터 추출
# (1) 성별이 남자인 데이터 추출
bool_index= dataDF['gender']== '남'

In [8]:
dataDF[bool_index]

  name  age gender
0  마징가   25      남
1  베트맨   31      남

In [13]:
# (2) 20세 이상의 남자 데이터만 추출    ---->연산자 사용시 각 조건들 괄호로 묶어서 사용
bool_index= (dataDF['age']>=30) & (dataDF['gender']== '남')

In [14]:
dataDF[bool_index]

  name  age gender
1  베트맨   31      남

In [18]:
# (3) 20세 이하 이거나 성별이 남자인 데이터 추출
dataDF[(dataDF['age']<=20) | (dataDF['gender']=='남')]

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [25]:
# (4) 성별이 남자인 데이터만 추출
mask= dataDF['gender']=='남'

In [27]:
~ (dataDF['gender']=='남'), ~mask

(0    False
 1    False
 2     True
 Name: gender, dtype: bool,
 0    False
 1    False
 2     True
 Name: gender, dtype: bool)