#### 중복 데이터 처리
- 중복 데이터 검사 후 처리 ->삭제
- [주의] 중복 데이터를 모두 삭제하는 것은 아님!!
    * 데이터의 특성을 확인 후에 결정하기!!

In [33]:
# [1], [2], [3]
import pandas as pd
file_name= 'data.csv'
dataDF=pd.read_csv(file_name)

In [34]:
# [4]데이터 확인
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gender  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [35]:
# 컬럼별 타입과 실제 데이터 확인
dataDF.head(2), dataDF.tail(2)

(   no   name   age gender
 0    1  Hong  15.0      남
 1    2   NaN  20.0      여,
    no  name   age gender
 4    5  Han   NaN      여
 5    3  Lee  56.0      남)

In [36]:
# [5] 전처리
# - [5-1] 결측치

In [37]:
# - [5-2] 중복 데이터 검사 및 처리  keep= first(첫번째 데이터 처리), last(나중 데이터 처리)
#                                                               , False(둘다 처리)
# keep 매개변수: 어느 것을 중복 데이터로 취급하지 않을지(기본='first')
dataDF.duplicated(), dataDF.duplicated().sum()  #갯수 세기

(0    False
 1    False
 2    False
 3    False
 4    False
 5     True
 dtype: bool,
 1)

In [38]:
#중복 데이터 처리  ---->똑같이 keep매개변수 존재
dataDF.drop_duplicates()

   no   name   age gender
0    1  Hong  15.0      남
1    2   NaN  20.0      여
2    3   Lee  56.0      남
3    4   Kim  56.0      남
4    5   Han   NaN      여

In [40]:
# - 나이 컬럼만 중복 여부 체크   ->keep='first, 나이만 고려했기 때문에 3개
dataDF.duplicated(subset='age')

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool