### DataFrame에서 원소/요소 읽기
- 행 읽기 / 열 읽기
- 행과 열이 교차하는 지점 원소/요소 읽기

In [1]:
import pandas as pd

In [2]:
# 데이터 준비
jumsu= [[98,99,100], [50,60,70]]

In [3]:
# 2D 데이터를 DF로 저장
df1=pd.DataFrame(jumsu)

In [5]:
# 행 인덱스와 열 인덱스를 속성으로 지정
# 행 인덱스 -> 김경태, 안효준
# 열 인덱스 -> 음악, 영어, 무용
df1.index=['김경태', '안효준']
df1.columns=['음악', '영어', '무용']
df1

     음악  영어   무용
김경태  98  99  100
안효준  50  60   70

- [열/column 선택] : 컬럼명/컬럼인덱스

In [8]:
# 영어 과목 점수만 추출
print(df1['영어'])
type(df1['영어'])

김경태    99
안효준    60
Name: 영어, dtype: int64

pandas.core.series.Series

In [10]:
# 무용 과목 점수만 추출
print(df1.무용)

김경태    100
안효준     70
Name: 무용, dtype: int64

- [행/로우 선택]: 변수명.iloc[형인덱스], 변수명.loc[행인덱스]

In [14]:
df1.iloc[0]     #->integer location=정수만 사용가능!

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [15]:
df1.loc['김경태']   #-> 정수 사용 안됨!

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [16]:
# 음악, 무용 컬럼 추출
df1[['음악', '무용']]      #df1.[음악,무용]->안됨!

     음악   무용
김경태  98  100
안효준  50   70

In [19]:
df1['음악':'무용'] ##안됨

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [24]:
print(df1[df1.columns], df1.columns[1:], df1.columns[::2],sep='\n')
df1[df1.columns[::2]]

     음악  영어   무용
김경태  98  99  100
안효준  50  60   70
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악   무용
김경태  98  100
안효준  50   70

In [25]:
# 여러개 행 추출
df1.loc[['안효준', '김경태']] #입력한 순서대로 나옴

     음악  영어   무용
안효준  50  60   70
김경태  98  99  100

In [27]:
print(df1.index, df1.index[1:], df1.index[::-1], sep='\n')
df1.loc[df1.index[::-1]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어   무용
안효준  50  60   70
김경태  98  99  100

- [원소/요소 추출하기]: 
    변수명.iloc[정수인덱스][열인덱스]/변수명.loc[행인덱스][열인덱스]  #->시리즈 인덱스

In [33]:
# 김경태 님의 영어 점수만 추출
# df1['김경태']['영어']   ->>>ERROR
print(df1.loc['김경태']['영어'], df1.iloc[0]['영어'] ,sep='\n')
# df1.iloc[0][1]---> 나중에 없어짐(futurewarning)

99
99
99

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_5168\3392763356.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df1.loc['김경태']['영어'], df1.iloc[0]['영어'], df1.iloc[0][1] ,sep='\n')

- [원소/요소 추출하기]: 
    변수명.iloc[정수인덱스,열인덱스]/변수명.loc[행인덱스,열인덱스]

In [34]:
# 김경태님의 영어 점수만 추출
df1.iloc[0,1]      #df1.iloc[0,'영어]---->안됨 (정수만 사용가능)

99

In [35]:
df1.loc['김경태', '영어']

99

In [50]:
# 김경태님의 영어와 무용 점수만 추출
print(df1.loc['김경태',['영어', '무용']])

print(df1.loc['김경태'][['영어', '무용']])

print(df1.loc['김경태','영어':'무용'])

영어     99
무용    100
Name: 김경태, dtype: int64
영어     99
무용    100
Name: 김경태, dtype: int64
영어     99
무용    100
Name: 김경태, dtype: int64

In [ ]:
print(df1.loc[:,'음악'])
print(df1.loc[df1.index,'음악'])

김경태    98
안효준    50
Name: 음악, dtype: int64
김경태    98
안효준    50
Name: 음악, dtype: int64