### Dict 데이터로 DF저장

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu={'국어':[89,91], '수학':[88,90], '음악':[100,98]}

In [3]:
# DF으로 데이터 저장
df1=pd.DataFrame(jumsu)

In [4]:
# DF로 저장된 데이터 확인
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

- [속성으로 행인덱스 변경]: 변수명.index=새로운 인덱스

In [5]:
#0,1 인덱스 --> '마징가', '홍길동'
df1.index=['홍길동', '마징가']
df1

     국어  수학   음악
홍길동  89  88  100
마징가  91  90   98

In [6]:
# 컬럼 인덱스 --> '국어', '미술', '과학'
df1.columns=['국어', '미술', '과학']

In [7]:
df1

     국어  미술   과학
홍길동  89  88  100
마징가  91  90   98

In [9]:
# 값을 저장하고 있는 속성 ->values
# df1.values=[[89,78,100],[91,90,98]]->>지원안함!!(속성으로 데이터 변경 불가능)

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_540\2483005178.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.values=[[89,78,100],[91,90,98]]

AttributeError: can't set attribute

In [11]:
df1.shape
# df1.shape=(1,3)  --->형태 변경도 속성으로 안됨

C:\Users\KDP-25\AppData\Local\Temp\ipykernel_540\395329753.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.shape=(1,3)

AttributeError: can't set attribute