In [61]:
#3-1
import pandas as pd
s=pd.Series(['banana', 42])   #리스트데이터 시리즈로 변환
print(s)

0    banana
1        42
dtype: object

In [62]:
s=pd.Series(index=['person', 'who'], data=['Wes Mckinney', 'creator of pandas'] )
print(s) #순서 지정도 가능

person         Wes Mckinney
who       creator of pandas
dtype: object

In [63]:
#3-2
scientists= pd.DataFrame(
    data={
        'Occupation': ['chemist', 'statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37,61],
    },
    index=['Rosaline Franklin', 'William Gosset'],
    columns= ['Occupation', 'Born', 'Died', 'Age'],
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       chemist  1920-07-25  1958-04-16   37
William Gosset     statistician  1876-06-13  1937-10-16   61

In [64]:
first_row= scientists.loc['William Gosset']
print(type(first_row),'\n', first_row)

<class 'pandas.core.series.Series'>
 Occupation    statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [65]:
print(first_row.index)
print(first_row.values)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['statistician' '1876-06-13' '1937-10-16' 61]

In [66]:
print(first_row.keys())  #index와 동일

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [67]:
print(first_row.index[0])
print(first_row.keys()[0])

Occupation
Occupation

In [68]:
ages= scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [69]:
print(ages.mean())   #넘파이 ndarray 메서드
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

In [70]:
scientists=pd.read_csv(r'C:\Users\KDP-25\Desktop\EX_PANDAS06\data\scientists.csv')

In [71]:
ages= scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [72]:
print(ages.describe)   #기술 통계 도출

<bound method NDFrame.describe of 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64>

In [73]:
print(ages[ages>ages.mean()])    #--> True인 값만 추출 인덱싱 값을 boolean index로 추출한 것

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [74]:
print(type(ages> ages.mean()))  #시리즈로 반환

<class 'pandas.core.series.Series'>

In [75]:
print(ages+ages)   #시리즈끼리 연산
print(ages*ages)
print(ages+100)     #시리즈와 정수 연산
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [76]:
print(ages+pd.Series([1,100]))  #대응되는 데이터끼리만 연산, 나머지는 nan

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [77]:
import numpy as np

In [78]:
rev_ages= ages.sort_index(ascending=False)  #인덱스 정렬(기본=오름차순)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [79]:
print(ages+ rev_ages)   #기존 설정한 순서가 연산 뒤에도 영향을 미치진 않음
# 인덱스 오름차순으로 바뀜

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [80]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [81]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [82]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [83]:
print(scientists.loc[scientists['Age']>scientists['Age'].mean()])#불리언으로 데이터 추출

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [84]:
first_half= scientists[:4]
second_half= scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [85]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [86]:
print(scientists*2)  #정수는 연산, 문자는 반복

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [87]:
df1=df2=pd.DataFrame(data=[[1,2,3], [4,5,6], [7,8,9]])
df_added=df1.add(df2)
print(df_added)               #모든 셀 숫자 -> add()메서드

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18