### DataFrame의 인덱스 다루기 -3
- 행 인덱스를 정수형 인덱스 초기화
- 기존의 행 인덱스는 컬럼으로 추가 (기본값)
- 메서드: 변수명.reset_index()

In [33]:
# [1] 모듈 로딩
import pandas as pd

In [34]:
# [2] 데이터 준비
jumsu={'name': ['마징가', '태권V','원더우먼'],
       'kor': [98, 90, 80],
       'eng': [90,70,88],
       'math': [80, 70, 87]}

In [35]:
#[3] DataFrame형태로 저장
jumsu_DF= pd.DataFrame(jumsu)
jumsu_DF

   name  kor  eng  math
0   마징가   98   90    80
1   태권V   90   70    70
2  원더우먼   80   88    87

In [36]:
# [4] 행 인덱스 초기화
DF2= jumsu_DF.reset_index()
print(DF2)

   index  name  kor  eng  math
0      0   마징가   98   90    80
1      1   태권V   90   70    70
2      2  원더우먼   80   88    87

In [38]:
print(DF2.drop('index', axis=1))
print('\n')
print(DF2.drop(columns='index'))

   name  kor  eng  math
0   마징가   98   90    80
1   태권V   90   70    70
2  원더우먼   80   88    87
   name  kor  eng  math
0   마징가   98   90    80
1   태권V   90   70    70
2  원더우먼   80   88    87

In [40]:
# [5] 행 인덱스 초기화  ->기존 행 칼럼 추가x (일일이 삭제 안해도 됨)
DF2= jumsu_DF.reset_index(drop=True)
print(DF2)

   name  kor  eng  math
0   마징가   98   90    80
1   태권V   90   70    70
2  원더우먼   80   88    87